/*   Media Queries   */
@media (min-width:950px) {a[name]:before {height: 150px; margin-top: -150px; display: block; content: ""; visibility: hidden;}}
@media (max-width:950px) {a[name]:before {height: 120px; margin-top: -120px; display: block; content: ""; visibility: hidden;}}
@media (max-width:590px) {a[name]:before {height: 90px; margin-top: -90px; display: block; content: ""; visibility: hidden;}}
/*   Firefox   */
@-moz-document url-prefix() {  }
/*   Explorer   */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #page-title {min-height: 150px;}
}

@media (max-width: 1080px) {
    .hd-info {flex: 0 1 450px;}
    .flex-row-featured a {flex: 0 1 31%;}
    #services article {flex: 0 1 65%;}
    #services figure {flex: 1 1 30%;}
}

@media (max-width:1000px) {
    #hd-top {display: none;}
    #banner {margin: 0;
        figure {margin: 0 -20%}
        article {top: 70%;}
        .h2 {font-size: 10vw;}
    }
    #welcome {
        figure { position: relative; overflow: visible; display: table; margin: 40px auto; padding: 50px 50px 90px;
            img {position: absolute; left: 0; top:-40px; width: 150%; }
            .h2 {margin: auto; text-align: center; font-size: 30px;}
        }
    }
    #honors {flex-wrap: wrap; max-width: 700px; margin: auto;
        > div {flex: 0 1 48%;}
    }
    .split {
        .flex-ed {display: block; }
        figure {display: block; margin: auto; overflow:hidden}
        article {margin: 20px auto;}
    }
    #meet figure > div { overflow: hidden;
        img {margin-bottom: -40%;;}
    }
    #meet .caption {display: block; padding: 20px 5px; position: relative;;}
    #callouts .flex-ed {display: block;
        article {max-width: 570px; margin: 40px auto 20px;}
    }
    #services {
        display: block;
        figure { overflow:hidden;
            img { margin: -8% auto -10%;}
        }
        .all {padding: 40px 10px;}
    }
    #reviews {margiN: 20px auto;}
    .flex-ed-finance {padding: 0;}
    .circle {height: 400px; flex: 0 0 400px; width: 400px; margin: -30px -20px;
        > div {max-width: 300px;}
        .more {max-width: 190px;}
    }
    #assoc .flex-row{flex-wrap: wrap;}
    #assoc span {flex: 0 1 150px;}
    .page_index #quest {flex: 0 1 45%;}
    #page-title h1:only-child, h2#append {font-size: 50px;}
    .flex-banner {display: block; }
    .block {  padding: 30px 10px;
        .contain {display: block;}
        .btn {margin: 10px auto;}
        h2 {text-align: center;}
        h2, h3 { margin-bottom: 20px; }
        [class^="elem"]   {float: none; margin: 10px auto 20px;  max-width: 100%;}
        ul {display: table; margin: 20px auto;}
    }
    .block:nth-of-type(even) { 
        &:before {   background-color: #fbfbfb; content: ''; position: absolute; left: -20px; right: -20px; top: 0; bottom: 0; z-index: -1;}
    }
    .mini-block {
        &:first-of-type {margin-top: 30px;}
        p {overflow: hidden;}
        .elem-sm {margin: 10px 20px 20px 0; float: left; }
    }
    .block-alt {padding: 40px 10px;}
    .flex-photos2 {margin-bottom: 10px;}
    .services div {flex: 0 1 48%; margin: 10px auto;
    }
    footer .logo {flex: 1 1 100%; margin-bottom: 30px;}
    #fo-contents {flex-wrap: wrap; text-align: center; padding: 50px 10px 0;}
    .fo-info {margin: 20px auto;}
    footer .hours {margin: 20px auto; }
    .fo-title {text-align: center;}
    .ft-btm {display: block; border-top: 1px solid #1a3b51; }
    footer .social {max-width: 200px; margin: 10px auto;}
    #copy {font-size: 14px;}
}

@media (max-width:750px) {
    header .logo span {font-size: 3vw;}
    header .phy {display: none;}
    header .pho {font-size: 18px;}
    .flex-row-featured a {flex: 0 1 48%;}
    .flex-row-featured {margin: auto; max-width: 500px;}
    #reviews p {font-size: 20px;}
    #reviews .contain {padding: 0;}
    .reviews-controls {margin-top: 5px;}
    #financing {padding: 50px 20px 10px;}
    .circle {margin: -15px -10px;}
    #find {display: block;}
    .page_index #quest form {max-width: 90%;}
    #map {height: 370px;}
    #page-title h1:only-child, h2#append {font-size: 40px;}
    .block h2, .block-alt {text-align: left;}
    #copy span:last-of-type {display: block;  font-size: 0px;}
}

@media (max-width:590px) {
    .flex-nav, .page_index #map, .index #assoc {display: none;}
    header .logo span {font-size: 4.5vw;}
    #welcome article .h2 br {display: none;}
    #honors > div {flex: 0 1 48%; padding: 40px 0; margin: 8px auto; }
    #callouts > .h2 {font-size:23px; max-width: 250px; margin: auto;}
    #reviews .slick-track {display: block !important;}
    #reviews .slick-reviews {margin-bottom: 0;}
    #reviews .slick-reviews .slick-slide {margin: 0;}
    #services figure img {margin: -8% -15px -10%; width: 105%; max-width: 105%;}
    #find {margin-top: 0;}
    #find:before {display: none;}
    #fo-contents {display: table;}
    .fo-info {margin: 30px auto 50px;}
    #page-banner {padding: 30px 10px;}
    #page-title h1:only-child, h2#append {font-size: 30px;}
    .gallery {padding: 0;}
    .services {display: table;}
    .services div {flex: 1 1 100%;}
    .why h2 {font-size: 30px;}
    .why ul {text-align: left; padding-left: 10px;}
    .why ul li {text-align: left; display: block;}
    #quest .contain {display: block;}
    #quest .contain input:nth-of-type(2) {margin: 0 auto 10px;}
}
@media (max-width:480px) {
    .hd-info {display: none;}
    #banner {
        figure {margin: 0 -40% 0 -80%;}
    }
    #honors .h2 {font-size: 30px;}
    #honors > div {padding: 20px 0;}
    .flex-row-featured h3 {font-size: 20px;}
    #copy span:first-of-type {display: block; font-size: 0px;}
    .contact {display: block;}
    #fixed-tabs strong {display: none;}
    header .hours label {width: 100px;}
    #page-banner .flex-banner .contain {padding: 0 10px;}
    .mini-block .elem-sm {float: none; margin: 10px auto 20px 0;}
    #assoc span {flex: 0 1 120px;}
}
@media (max-width:400px) {
    header .logo span {font-size: 4.1vw;}
    h2, .h2, .dividerLead  {font-size: 30px;}
    .why h2 {font-size: 24px;}
    #honors .h4 {font-size: 10px;}
    [class^="btn"], .more-to-explore [class^="btn"] {min-width: 100%; width: 100%; margin: 8px auto;}
    [data-embed] .close {display: block; position: unset; text-align: center;  padding: 4px; }
}


