$primary: #00accd;
$secondary:#546079;
$tertiary: #1c425b;
$quat: #272d30;
$text: #000;
$font: 'Inter', sans-serif;
$font2: 'Inter', sans-serif;
$facebook: #4d70a8;
$google: #dc4e41;
$yelp: #b62717;
$youtube: #d00;
$instagram: #133c58;
$twitter: #00aced;
$healthcare: #0202ea;
